/**
    Colors variables
*/
$body-background: #e4e4e4;
$font-family: "Open Sans", sans-serif;
$font-color: #444444;

/**
    Design variables
*/
$border-radius: 5px;

/**
    Grid variables
*/
$columns: 12;
$containerWidth: 1400px;
$gutter: 6px;
